*{
    margin: 0;
    padding: 0;
}
Header{
    color: white;
 background-color: rgb(83, 83, 241);
 height: 60px;
 width: 100vw;
 display: flex;
 flex-direction: row;
 align-items: center;
}
#search{
    width: 40vw;
    height: 25px;
    border-radius: 8px;
    margin-left: 20px;
    padding: 5px;
}
#btn1:hover{
    border: 4px solid white;
    border-radius: 5px;

}
#btn1{
    margin-left: 5px;
    color: white;
    padding: 2px;
    cursor: pointer;
    background-color: rgb(83, 83, 241);
    border: 2px solid white;
    border-radius: 5px;
}
img{
    height: 45px;
    margin-right: 10px;
    margin-left: 10px;
}
nav ul li{
    cursor: pointer;
    display: inline-block;
    margin: 10px;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}
body{
    animation: translate 10s  ease-in-out infinite alternate;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul li:hover{
    cursor: pointer;
   font-weight: bolder;
}
body{
    animation: translate 20s  ease-in-out infinite alternate;
}
footer{
    background-color: #172337;
    color: #f0f0f0;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    height: calc(100vh - 80px - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    background-color: white;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    height: 300px;
    width: 500px;
    border:3px solid rgb(9, 57, 160) ;
    border-radius: 10px;
}
#btn{
    background-color: rgb(83, 83, 241);
    color: white;
    padding: 10px;
    margin-top: 50px;
    border-radius: 20px solid white;
}
#btn a{
    text-decoration: none;
    color: white;
}
@keyframes translate {
    0%{
       background-color: rgb(221, 97, 211);
    }    
    25% {
      background-color: rgb(56, 230, 149);
    }
    50%{
        background-color: skyblue;
    }
    75%{
        background-color:  rgb(29, 29, 82);
    }
    100%{
        background-color: rgb(247, 38, 30);
    }
 }