*{
    margin: 0;
    padding: 0;
}
Header{
    color: white;
 background-color: rgb(83, 83, 241);
 height: 60px;
 width: 100vw;
 display: flex;
 flex-direction: row;
 align-items: center;
}
#search1{
    width: 40vw;
    height: 25px;
    margin-top: 10px;
    border-radius: 8px;
    margin-left: 20px;
    padding: 5px;
}
#btn1:hover{
    border: 4px solid white;
    border-radius: 5px;

}
#btn1{
    margin-left: 5px;
    color: white;
    padding: 2px;
    cursor: pointer;
    background-color: rgb(83, 83, 241);
    border: 2px solid white;
    border-radius: 5px;
}
img{
    height: 45px;
    margin-right: 10px;
    margin-left: 10px;
}
nav ul li{
    cursor: pointer;
    display: inline-block;
    margin: 10px;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}
body{
    animation: translate 10s  ease-in-out infinite alternate;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul li:hover{
    cursor: pointer;
   font-weight: bolder;
}
footer{
    background-color: #172337;
    color: #f0f0f0;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form{
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    align-items: center;
    height: calc(100vh - 70px - 60px);
    width: 70vw;
}
input{
    height: 50px;
    padding: 10px;
    background-color: #fff;
    width: 500px;
    border: 2px solid black;
    border-radius: 15px;
    margin-top: 40px;
    margin-bottom: 10px;
}
#btn{
    background-color: rgb(83, 83, 241);
    color: white;
    padding: 10px;
    border-radius: 20px solid rgb(65, 59, 59);
    margin-left: 70px;
    float: top;
}
@keyframes translate {
    0%{
       background-color: rgb(160, 235, 125);
    }    
    25% {
      background-color: rgb(54, 196, 221)  
    }
    50%{
        background-color: rgb(167, 37, 69);
    }
    75%{
        background-color: rgb(231, 59, 180);
    }
    100%{
        background-color: rgb(253, 66, 60);
    }
}